doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        link(rel="stylesheet" type="text/css" href="/modules/bootstrap/dist/css/bootstrap.min.css")
    body
        h1 GutenProg.com
        div.alert.alert-warning
            strong Note:
            span The tag board is down while I rebuild a server (damn power outages...)
