@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
  --dark-border-color: var(--bs-gray-400);
  --light-border-color: var(--bs-gray-200);
  --name-bg-color: var(--bs-gray-200);
}

html, body,
#app {
  background-color: transparent;
}

.app-container {
  width: 319.98px;
  max-width: 319.98px;
  margin: 0 auto;
}

.chat-container {
  height: 380px;
  overflow: auto;
  margin-bottom: 3px;
  border: 1px solid #ddd;
}
.chat-container.larger {
  font-size: larger;
}
.chat-container .status {
  background-color: transparent;
  border-bottom: 1px solid var(--dark-border-color);
  color: #888888;
  font-size: 10px;
  text-align: right;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-container .status.disconnected {
  background-color: #666666;
  color: #FFFF00;
}
.chat-container .status.disconnected .heartbeat {
  color: black;
}
.chat-container .status .heartbeat {
  color: rgba(255, 0, 0, 0.2509803922);
  transition: color ease-in-out 350ms;
}
.chat-container .status .heartbeat.ping {
  color: #FF0000;
}
.chat-container .chat {
  display: flex;
  font-size: 13px;
  padding-right: 3px;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 0.25rem;
}
.chat-container .chat .chat-name {
  color: #444;
  flex: 1 0 33.33333%;
  background-color: var(--light-border-color);
  border-right: 1px solid var(--dark-border-color);
  border-top: 1px solid var(--dark-border-color);
  max-height: 100%;
  font-weight: 500;
  z-index: 2;
}
.chat-container .chat .chat-name a, .chat-container .chat .chat-name span {
  padding: 0 0.5rem 0 0.25rem;
}
.chat-container .chat .chat-timestamp {
  flex: 1 0 66.66667%;
  font-size: 75%;
  opacity: 80%;
  padding: 0 0.25rem;
  overflow: hidden;
}
.chat-container .chat .chat-text {
  flex: 0 0 100%;
  color: #444444;
  border-top: 1px solid var(--dark-border-color);
  margin-top: -1px;
  padding: 0.25rem;
  word-break: break-word;
  max-height: 400px;
  overflow: auto;
}
.chat-container .chat .chat-text span.emoji {
  font-size: 150%;
}
.chat-container .new-chat .chat {
  border-color: var(--bs-blue);
  opacity: 80%;
}
.chat-container .new-chat .chat .chat-name {
  color: var(--bs-blue);
}
.chat-container .new-chat .chat .chat-text {
  color: var(--bs-blue);
}
.smiley-hint-list {
  overflow: auto;
  white-space: nowrap;
}
.smiley-hint-list .smiley-hint {
  display: inline-block;
  height: 2.5rem;
  cursor: pointer;
}
.smiley-hint-list .smiley-hint img {
  max-height: 100%;
}

body.metal .chat-container {
  padding-top: calc(1rem - 1px);
}
body.metal .chat-container .status {
  position: fixed;
  top: 0;
  left: 0;
  width: 95vw;
  height: 1rem;
  border-bottom-width: 0;
}
body.metal .chat-container .chat {
  border-top: 1px solid #416371;
  background-color: transparent;
  margin-bottom: 0.5rem;
  border-bottom: none;
}
body.metal .chat-container .chat .chat-name {
  color: #FF9621;
  background: linear-gradient(to bottom, #7f487d, #2d3c57);
  margin-left: -3px;
  border: 1px solid #416371;
  border-top-width: 0;
  border-left-width: 0;
  cursor: pointer;
}
body.metal .chat-container .chat .chat-name:hover {
  background: linear-gradient(to bottom, #2d3c57, #7f487d);
}
body.metal .chat-container .chat .chat-name a {
  color: #66b0ff;
}
body.metal .chat-container .chat .chat-text {
  color: #CCCCCC;
}
body.metal .form-control {
  background-color: transparent;
  color: #CCCCCC;
}
body.metal .input-group-text {
  background-color: rgba(255, 255, 255, 0.15);
  color: #CCCCCC;
}

/*# sourceMappingURL=gt6.css.map */
